.btn {
  font-family: "Segoe UI", Verdana, sans-serif;
  max-width: 350px;
  width: 70%;
  margin: 2rem auto;
  padding: 22px 8px;
  font-size: $l-font;
  border: none;
  border-radius: 20px;
  background-color: $main-color;
  color: $text-color;
  cursor: pointer;
  position: relative;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.5) inset;
}
