.settings {
  width: 100%;
  text-align: center;
  &__mistake-label {
    font-size: $l-font;
    color: $text-color;
  }
  &__difficulty-label {
    font-size: $l-font;
    color: $text-color;
  }
}
