$bg-color: #222831;
$side-bg-color: #181c22;
$main-color: #00adb5;
$text-color: #fff;
$easy-color: #41c427;
$medium-color: #f5a30a;
$hard-color: #c44127;
$xl-font: 2.5rem;
$l-font: 1.8rem;
$m-font: 1.4rem;
$s-font: 1.2rem;
